<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet' href='css/blog.css'/>
<div class="row mt-5">
  <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> tweet</h1>
  <a href="/home" class="btn btn-secondary">home</a>
  <a href="/post" class="btn btn-secondary">post new tweet</a>
  <div class="container">
  <div class="row">
  <div class="card card-body">
        <% tweets.forEach(function(tweet){ %>
          <div class="container">
             <div class="row"> 
                <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
                    <div class="[ panel panel-default ] panel-google-plus"></div>
                    <div class="card card-body">
                         <div class="dropdown">
                            <span class="pull-right" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/tweet/edit/<%= tweet.id %>">Edit</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/delete/<%= tweet.id %>">Delete</a></li>
                            </ul>
                        </div> 
                        <div class="media">
                         <img class="img-circle" height="25px" width="25px" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                          <div class="media-body">
                            <h3 class="mt-0"><%= tweet.user %></h3>
                            <blockquote class="blockquote">
                              <p class="mb-0 , h4"><%= tweet.tweet %></p>
                            </blockquote>
                            <!-- <p><%= tweet.timestamp %> </p> -->
                        </div>  
                        </div> 
                        <div class="panel-google-plus-comment">
                          <form action="/postComment/<%= tweet.id%>" method="POST">
                          <div class="panel-google-plus-textarea"> 
                            <div class="card card-body">
                            <img class="img-circle" height="25px" width="25px" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" /> 
                            <h4><%= username %> </h4>
                              <textarea placeholder="Post comment" type="comment" name="comment"></textarea>
                              <input class="button" type="submit" id="submit" value="comment">
                           </div>
                           <div class="clearfix"></div>  
                          </form>    
                           <a href="/comments/<%= tweet.id%>" class="btn btn-default">see comments</a> 
                          <span class="pull-right">
                            <form action="/like/<%= tweet.id %>" method="post"> 
                              <button type="submit" name="your_name" value="your_value" class="btn-link"><span class="glyphicon glyphicon-thumbs-up"></span>Like</button>  
                              <button type="submit" name="your_name" value="your_value" class="btn-link"><span class="glyphicon glyphicon-thumbs-down"></span>disLike</button>  
                            </form>
                        </span>   
                        </div>        
                      </div>
                    </div>
                </div>     
              </div>
        <% }); %>
  </div>
</div>