<a href="/home" class="btn btn-secondary">home</a>
<% comment.forEach(function(comment){ %>
  <div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus"></div>
            <div class="card card-body">            
                <div class="media">
                 <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                  <div class="media-body">
                    <h5 class="mt-0"><%= comment.user %></h5>
                    <p><%= comment.comment %>  </p>  
                </div>  
                </div>
              </div>
            </div>
        </div>     
      </div>
<% }); %>
</div>
</div>
