<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<h1 class="mt-4">Profil</h1>
<%- include('./partials/messages') %>
<a href="/tweet" class="btn btn-secondary">tweet</a>
<a href="/logout" class="btn btn-secondary">Logout</a>
<a href="/post" class="btn btn-secondary">post new tweet</a>
<div class="container">
    <div class="row">
        <div class="card card-body">
<% tweets.forEach(function(tweet){ %>
          <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
              <div class="[ panel panel-default ] panel-google-plus"></div>
              <div class="card card-body">
                <div class="dropdown">
                    <span class="pull-right" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/tweet/edit/<%= tweet.id %>">Edit</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/delete/<%= tweet.id %>">Delete</a></li>
                    </ul>
                </div> 
                  <div class="media">
                    <img class="img-circle" height="25px" width="25px" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="media-body">  
                      <h3 class="mt-0"><%= username %></h3>
                      <blockquote class="blockquote">
                        <p class="mb-0 , h4"><%= tweet.content %> </p>
                      </blockquote>
                  </div>  
                  </div>   
                  <div class="panel-google-plus-comment">
                    <form action="/postComment/<%= tweet.id%>" method="POST">
                    <div class="panel-google-plus-textarea"> 
                      <div class="card card-body">
                      <img class="img-circle" height="25px" width="25px" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" /> 
                      <h4><%= username %> </h4>
                        <textarea placeholder="Post comment" type="comment" name="comment"></textarea>
                        <input class="button" type="submit" id="submit" value="comment">
                    </div>
                    <div class="clearfix"></div>  
                </form>    
                <a href="/comments/<%= tweet.id%>" class="btn btn-default">see comments</a> 
                <span class="pull-right">
                  <i id="like" class="glyphicon glyphicon-thumbs-up"></i>
                  <i id="dislike" class="glyphicon glyphicon-thumbs-down"></i> 
              </span>                   
                  </div>
                </div>
              </div>
          </div>     
      
  <% }); %>
</div>
</div>
</div>