<h1>Modification du tweet</h1>
<br><br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Post</h1>
<form action="/edit/<%= id %>" method="POST">
<div class="form-group">
    <input
      type="text"
      id="tweet"
      name="tweet"
      class="form-control"
      value="<%= tweet %>"> 
  </div>
  <button type="submit">modifier</button>
</form>
</div>
</div>
</div>