<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Post</h1>
<form action="/post" method="POST">
<div class="form-group">
    <input
      type="text"
      id="tweet"
      name="tweet"
      class="form-control"
      placeholder="write a new tweet"
    />
  </div>
  <button type="submit">post</button>
</form>
</div>
</div>
</div>